@import "../variables.scss";

// background-color: $test-bg;

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: $test-bg;

    .header-desk-container {
        padding: 10px 0;
    }

    .header-fl-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .hd-block {
            display: table-cell;
            vertical-align: middle;
        }

        .left-column {
            flex-basis: 30%;
            background-color: $test-bg;

            .logo-wrapper {
                margin: 0 auto;
                background-color: $test-bg;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .central-column {
            flex-basis: 25%;
            text-align: center;
            background-color: $test-bg;
        }

        .right-column {
            flex-basis: 40%;
            text-align: end;
            background-color: $test-bg;
        }

        .hd-item {
            margin: 20px auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .header-desk-container {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-mob-container {
        display: none;
    }
}
