@import "../variables.scss";

// background-color: $test-bg;

.header-container {
    .header-desk-container {
        padding: 10px 20px;
    }

    .main-menu {
        background-color: $primary-color;

        .mob-main-menu {
            background-color: $light-color;

            .wrapper-mob-menu {
                padding: 10px 50px;
            }
        }
    }

    .header-fl-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .hd-block {
            display: table-cell;
            vertical-align: middle;
        }

        .left-column {
            flex-basis: 30%;

            .logo-wrapper {
                margin: 0 auto;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .central-column {
            flex-basis: 25%;
            text-align: center;

            .top-welcome {
                font-size: 16px;
                font-family: $ff-montserrat-ss;
            }

            .header-search {
                margin-top: 10px;

                input {
                    line-height: 40px;
                    padding: 0 45px;
                    background-color: transparent;
                    border: 1px solid;
                    border-color: $hd-input-border;
                }

                .field.search {
                    position: relative;
                    margin: 0 20px;

                    .search-content {
                        position: absolute;
                        opacity: 0;
                        background-color: $test-bg;
                        width: 100%;
                        min-height: 300px;
                        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                        background-color: $test-bg;
                        display: none;

                        &:hover {
                            opacity: 1;
                        }
                    }
                    .search {
                        width: 100%;
                        position: absolute;
                        width: 42px;
                        height: 42px;
                        line-height: 40px;
                        top: 0;
                        left: 0;
                        color: $hd-input-border;
                        background-color: $test-bg;
                    }

                    .close {
                        width: 100%;
                        position: absolute;
                        width: 42px;
                        height: 42px;
                        line-height: 40px;
                        top: 0;
                        right: 0;
                        color: $hd-input-border;
                        font-family: $ff-montserrat-ss;
                        font-size: 18px;
                        background-color: $test-bg;
                        cursor: pointer;

                        &:hover {
                            color: #333;
                        }
                    }
                }
            }
        }

        .right-column {
            flex-basis: 40%;
            text-align: end;
            background-color: $test-bg;

            .hd-right-icons {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-right: 10px;
                margin-top: 10px;
                text-decoration: none;
                .item {
                    position: relative;
                    padding-left: 10px;
                }
            }
        }

        .hd-item {
            margin: 20px auto;
        }
    }

    .header-mob-container {
        background-color: $primary-color;
        text-align: center;

        .logo-wrapper {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header-desk-container,
    .desk-main-menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-mob-container,
    .mob-main-menu {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .header-mob-container img {
        width: 60%;
    }
}
