@import "./scss/Header/header.scss";
@import "./scss/Header/nav_menu.scss";
@import "./scss/Header/categories.scss";
@import "./scss/Header/compare.scss";
@import "./scss/Header/mini\ cart.scss";
@import "./icomoon/style.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;

    ::placeholder {
        opacity: 0.3;
    }
}
