@import "./icomoon/style.css";
@import "./scss/Header/header.scss";
@import "./scss/Header/nav_menu.scss";
@import "./scss/Header/categories.scss";
@import "./scss/Header/compare.scss";
@import "./scss/Header/mini\ cart.scss";
@import "./scss/Footer/footer.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: $ff-montserrat-ss;

    ::placeholder {
        opacity: 0.3;
    }

    a {
        text-decoration: none;
    }
}

.main-container {
    max-width: $page-container;
    margin: 0 auto;
}
