@import "./icomoon/style.css";
@import "./scss/Header/header.scss";
@import "./scss/Header/nav_menu.scss";
@import "./scss/Header/categories.scss";
@import "./scss/Header/compare.scss";
@import "./scss/Header/mini\ cart.scss";
@import "./scss/Header/cartPopup.scss";
@import "./scss/Header/itemOfCart.scss";
@import "./scss/Footer/footer.scss";
@import "./scss/home.scss";
@import "./scss/Pages/products.scss";
@import "./scss/Pages/checkout.scss";
@import "./scss/Pages/compare.scss";
@import "./scss/Admin/adminPage.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: $ff-montserrat-ss;

    ::placeholder {
        opacity: 0.3;
    }

    ul li {
        list-style: none;
    }
}

.action.primary button {
    padding: 8px 10px;
}

.main-container {
    max-width: $page-container;
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: $button-bg;
    color: $button-color;
    font-size: 16px;
    text-transform: uppercase;
    white-space: nowrap;
    border: none;
    border-radius: 3px;

    &:hover {
        background-color: $button-bg-hover;
        color: $button-color-hover;
    }
}

.flex-hr-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-vr-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
