@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");

$test-bg: rgba(0, 0, 0, 0);

$primary-color: #0d5257;
$secondary-color: #06282b;
$additional-color: #2accbc;

$light-color: #fff;
$dark-color2: #000;
$custom-color1: #999;
$custom-color2: #666;
$custom-color3: #333;

$page-container: 1200px;

// header
$hd-bg: #fff;
$hd-txt-color: #000;
$hd-txt-color-bg: $hd-bg;
$hd-link-color: #0d5257;
$hd-link-color-bg: $hd-bg;
$hd-link-color-hover: $custom-color1;
$hd-link-color-bg: $hd-bg;
$hd-link-color-bg-hover: $hd-bg;
$hd-input-border: rgb(194, 194, 194);

// link
$link-color: #0d5257;
$link-color-hover: $link-color;
$link-font-weight: 400;
$link-font-weight-hover: $link-font-weight;
$hd-link-decoration: none;
$hd-link-decoration-hover: $hd-link-decoration;

// Paragraph
$p-color: #0d5257;
$p-color-bg: #fff;

//Fonts
$ff-montserrat-s: "Montserrat", serif;
$ff-montserrat-ss: "Montserrat", sans-serif;
