$primary-color: #0d5257;
$secondary-color: #06282b;
$additional-color: #0d5257;

$light-color: #fff;
$dark-color2: #000;
$custom-color1: #999;
$custom-color2: #666;
$custom-color3: #333;

$link-color: #0d5257;
$link-color-hover: #0d5257;

// header
$hd-bg: #fff;
$hd-txt-color: #000;
$hd-txt-color-bg: #fff;
$hd-link-color: #0d5257;
$hd-link-color-bg: #fff;
$hd-link-color-hover: #0d5257;
$hd-link-color-hover-bg: #fff;

$p-color: #0d5257;
