@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700;900&family=Playfair+Display:wght@400;600;900&family=Roboto:wght@400;900&display=swap");

$test-bg: rgba(0, 0, 0, 0);

$primary-color: #0d5257;
$secondary-color: #06282b;
$additional-color: #2accbc;

$light-color: #fff;
$dark-color2: #000;
$custom-color1: #999;
$custom-color2: #666;
$custom-color3: #333;

$page-container: 1200px;

// header
$hd-bg: #fff;
$hd-txt-color: #000000;
$hd-txt-color-bg: $hd-bg;
$hd-link-color: #0d5257;
$hd-link-color-bg: $hd-bg;
$hd-link-color-hover: $custom-color1;
$hd-link-color-bg: $hd-bg;
$hd-link-color-bg-hover: $hd-bg;
$hd-link-decoration: none;
$hd-link-decoration-hover: $hd-link-decoration;
$hd-input-border: rgb(194, 194, 194);

// button
$button-color: #fff;
$button-color-hover: #fff;
$button-bg: #0d5257;
$button-bg-hover: #06282b;
$button-font-weight: 400;
$button-font-weight-hover: $button-font-weight;

// link
$link-color: #0d5257;
$link-color-hover: $link-color;
$link-font-weight: 400;
$link-font-weight-hover: $link-font-weight;

// social link
$social-link-color: #fff;
$social-link-bg-color: #0d5257;
$social-link-color-hover: $social-link-bg-color;
$social-link-bg-color-hover: transparent;

// Paragraph
$p-color: #0d5257;
$p-color-bg: #fff;

//Fonts
$ff-montserrat-s: "Montserrat", serif;
$ff-montserrat-ss: "Montserrat", sans-serif;
$ff-playfairDisplay-s: "Playfair Display", serif;
$ff-playfairDisplay-ss: "Playfair Display", sans-serif;
$ff-roboto-s: "Roboto", serif;
$ff-roboto-ss: "Roboto", sans-serif;
